/* Tao giao dien cho ca phan body */
body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background: linear-gradient(120deg, #f6d365, #fda085);
}

/* Theme cho phan chu de */
h2{
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}

/* Theme cho phan bang*/
table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

table, th, td {
    border: 3px solid #ccc;
}

th, td {
    text-align: left;
    padding: 8px;
}

th {
    background-color: #f4f4f4;
    text-align: center;
}

form {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input, select {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
button[type=submit]{
    width: 100px;
    height: 30px;
    border-radius: 30px;
}

/* Theme cho nut edit hien thi o trang chinh phan Function */
.btn.edit{
    border: 1px solid black;
    background-color: rgb(159, 164, 218);
    font-size: 15px;
    font-family: 'Times New Roman', Times, serif;
    width: 300px;
    padding: auto;
    margin: 10px;
    text-align: center;
    border-radius: 10px;
    
}

/* Theme cho ca phan td cua 2 nut edit & delete */
td a.btn{
    padding: 8px 16px;
    margin-right: 10px;
    text-decoration: none;
    color: white;
    border-radius: 5px;
    text-align: center;
}

/* Theme cho nut delete hien thi o trang chinh phan Function */
.btn.delete{
    border: 1px solid black;
    background-color: rgb(230, 62, 62);
    font-size: 15px;
    font-family: 'Times New Roman', Times, serif;
    width: 20px;
    padding: auto;
    margin: 10px;
    text-align: center;
    border-radius: 10px;
}

/* Can le giua cho TT, Dob, Gender, Home Town, Level, Group, Function */
.btn.function{
    text-align: center;
}

/* Thiet ke cho nut Add Student */
.editadd{
    padding: 8px 16px;
    margin-right: 10px;
    border: 1px solid black;
    background-color: cadetblue;
    text-decoration: none;
    color: white;
    border-radius: 5px;
    text-align: center;
}

